{% extends 'layout_without_side_nav.html' %}

{% block title %} Brain Sweat {% endblock %}

{% block header %} Brain Sweat {% endblock %}

{% block main %}
    <h2 class="h2">What is it?</h2>
    <hr class="subtitle"/>
    <div class="list-group">
        <div class="item">Brain Sweat is the warm-up in the classroom. This could be either a puzzle, which may or may not
                        be related, or a question that will be related to the topic of the day.</div>
    </div>

    <h2 class="h2">An Example.</h2>
    <hr class="subtitle"/>
    <div class="list-group">
        <div class="item">What is the next number for the following pattern? <br/> <h5>2, 3, 5, 8, 13, 21, 34, ?</h5></div>
    </div>
{% endblock %}

