{% extends 'layout_without_side_nav.html' %}

{% block title %} Behavior Contract {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contract.css') }}"/>
{% endblock %}

{% block header %} Behavior Contract {% endblock %}

{% block main %}
    <div>I _____________ will follow the guidelines and the rules that are given by the school and the district. I
        ____________ will respect everyone in the classroom, teacher and student. I ___________ will take responsibility
        for my actions. I ___________ will work at my very best and nothing less in all of my classes. I ____________
        will take care of others that need help or in need of comfort.
        <br/>
        <br/>
        Sign: ______________________ Date: ____________________ </div>
{% endblock %}