{% extends 'layout_with_side_nav.html' %}

{% block title %} Expectations {% endblock %}

{% block header %} Expectations {% endblock %}

{% block main %}
    <h2 class="h2" id="truth">The Truth</h2>
    <hr class="subtitle"/>
    <div class="list-group">
        <li class="item">
            I will not lie to you my students, I will have high expectations for you. I do not do this
            to make your life hard, or because I want to see a student so stressed that they break down.
            I have been there before, it is not fun. I do this because I know you are capable of
            great things.
        </li>
        <li class="item">Although my expectations will be high, I will make you think, none of my tasks will be
            "impossible."
        </li>
    </div>

    <h2 class="h2" id="classwork">Classwork</h2>
    <hr class="subtitle"/>
    <div class="list-group">
        <li class="item">
            I expect you to try your hardest on your classwork. I am in there for you, you have table mates who are
            willing to help you. Use us, we want you to succeed. If you feel like you are giving up, tell me. I know
            what it feels like to get defeated over and over, sometimes you need to step away from the problem then
            go for it again. Point I am trying to make is this: <br/> Don't give me less than your very best.
        </li>
        <li class="last-item">
            During your classwork I expect there to be conversation, deep discussions. But I want those discussions to
            be on topic, I want to see how much thought you can give into the assignment.
        </li>
    </div>

    <h2 class="h2" id="homework">Homework</h2>
    <hr class="subtitle"/>
    <div class="list-group">
        <li class="item">
            You will normally get one or two assignments a week. I know homework is not fun, but I will use it to
            benefit you, as a student. I want to make sure you understand what is going on in class. If you feel lost,
            feel free to email me or call me. I will try my best to explain what is going on in your assignment.
        </li>
        <li class="last-item">
            I will normally give you at least 2 to 3 days to complete the assignment, so that way if you are lost you
            have time to ask any questions you may have.
        </li>
    </div>

    <h2 class="h2" id="classroom">Classroom Expectations</h2>
    <hr class="subtitle"/>
    <div class="list-group">
        <li class="item">
            Inside of the classroom I want each of my wonderful students to feel respected. Not just by me, but by
            each other. So that means I do not want to see any signs of bullying, but I know I won't have that problem
            because each of you are wonderful, caring people.
        </li>
        <li class="item">
            When someone speaks, listen. You would want someone to do the same for you, so do that for the speaker.
            It can be very unnerving to speak in front of people for some people.
        </li>
        <li class="last-item">
            If someone seems upset, talk to them. They may just need a friend. Spread a positive attitude, after all
            a smile is contagious.
        </li>
    </div>
{% endblock %}

{% block sidenav %}
    <li><a href="#truth" class="sidenav">The Truth</a></li>
    <li><a href="#classwork" class="sidenav">Classwork</a></li>
    <li><a href="#homework" class="sidenav">Homework</a></li>
    <li><a href="#classroom" class="sidenav">Classroom</a></li>
{% endblock %}