{% extends 'layout_without_side_nav.html' %}

{% block title %} Recorded Behavior {% endblock %}

{% block header %} Recorded Behavior {% endblock %}

{% block main %}
    <h2 class="h2">Positive Behavior Recording</h2>
    <hr class="subtitle"/>
    <div class="list-group">
        <li class="item">As you do great things, like I know will do quite often, I will record it in my positive behavior
                        binder which will have a huge smiley face on it to signify positive behavior. This binder will
                        be separated into a few different sections (ex: phone call, note home, prize ticket, etc.)</li>
        <li class="last-item">Whenever you do something great I will try my best to always write a note called the "You
                            are durn awesome" to let you know what an amazing job you have done.</li>

    </div>

    <h2 class="h2">Negative Behavior Recording</h2>
    <hr class="subtitle"/>
    <div class="list-group">
        <li class="item">Just like the positive binder I will also have a negative binder that will have a huge sad face
                        on it. This will have sections like tardiness, missing homework, misbehavior, etc.</li>
        <li class="item">On the table next to the door there will be a sheet that says "tardy" that will ask for name,
                        date, time, and signature. If you are ever tardy I will ask you to fill this sheet out.</li>
        <li class="item">If you ever have missing homework I will have a missing homework sheet for you to fill out.
                        You will need to fill out your name, homework missing, date, why you are missing it, and sign it.</li>
        <li class="last-item">If you do anything that is disruptive in class, or not following the guidelines you will
                            fill out a "wha' ha-happened was" form that will have your name and what you did already filled
                            and then will ask you why you did what you did, a way we can change the behavior, and for
                            your signature.</li>
    </div>
{% endblock %}

{% block script %}
     <script src="{{ url_for('static', filename='bootstrap-3.3.2-dist/js/bootstrap.min.js') }}"
                type="text/javascript"></script>
{% endblock %}