{% extends 'layout_with_side_nav.html' %}

{% block title %} Student Teacher Relationship: The Positive Kind {% endblock %}

{% block header %}  Student Teacher Relationship: The Positive Kind {% endblock %}

{% block main %}
    <div class="list-group">A positive relationship is a fantastic thing to have between a teacher, me, and a student, you.
                            I will try my hardest to foster one between us because if I don't, how will you ever feel safe
                            inside of our classroom. How would you ever trust me that I am here for you if I didn't do that?</div>

    <h2 class="h2" id="one">Way One of Building a Positive Relationship: Extra Help</h2>
    <hr class="subtitle"/>
    <div class="list-group">
        <div class="last-item">My first way I will build a positive relationship amongst you is by offering to stay
                                after school to help you with what ever subject you may need help on, but beware of asking
                                for my help in english/language arts. I can't do much there! If after school does not
                                work for you then I am willing to come in early to help you. You just need to let me know.
                                I want you to know that I want you to succeed. There is not a time too early or too late.</div>
    </div>

    <h2 class="h2" id="two">Way Two of Building a Positive Relationship: 3 Positives and a Negative</h2>
    <hr class="subtitle"/>
    <div class="list-group">
        <div class="last-item">I will always encourage you by giving you 3 positive comments and a negative (if you did
                                something wrong). I don't want you to feel like a failure because you are never a failure.
                                You can't fail at something if you keep trying. Even if you give up, you didn't fail.
                                You may just need a break, or an extra hand to guide you. Let me be that extra hand. I
                                <b>know</b> you can do anything.</div>
    </div>

    <h2 class="h2" id="three">Way Three of Building a Positive Relationship: The Most Simple Method. Conversations.</h2>
    <hr class="subtitle"/>
    <div class="list-group">
        <div class="last-item">I want to get to know each and every one of you, for the unique human beings that you are.
                                I want to get to know you so that way I can benefit you as much as I possibly can. My
                                classroom is a safe haven, a place where you can be you. So don't be afraid to talk to me
                                about almost anything.</div>
    </div>
{% endblock %}

{% block sidenav %}
    <li><a href="#one" class="sidenav">Extra Help</a></li>
    <li><a href="#two" class="sidenav">3 positives and a negative</a></li>
    <li><a href="#three" class="sidenav">Conversation</a></li>
{% endblock %}
