{% extends 'layout_without_side_nav.html' %}

{% block title %}
    Teaching Methods
{% endblock %}

{% block header %}
    Teaching Methods
{% endblock %}

{% block main %}
    <div class="list-group">
        <div class="last-item">
	        So now by now you have an idea of how the <a href="{{ url_for('the_normal_day') }}"> normal day </a> works in Mr.
            Burr's classroom. You have an idea of the flow. Well now you may be wondering. How does Mr. Burr teach? He seems
            like a cool guy, it seems like he cares because he built this whole site for us just so that way we are comfortable
            and know what to expect from him. Well I will tell you how I will be teaching! Not only that but also monitor
            all of your good behavior.
        </div>
    </div>

	<h2 class="h2">The Methods of a Mad Man</h2>
	<hr class="subtitle"/>
	<div class="list-group">
	    <h4 class="h4">Interactive Activities</h4>
        <hr class="subsubtitle"/>
	    <div class="list-group">
		    <p class="item">First and foremost. I will try my hardest to make sure my lessons to you are highly interactive.
		    I remember being in middle school and doing book work assignments and it was awful. Even in college book work
		    was not my thing. So I don't want to put you in a room where you have to do that when you could be doing
		    awesome activities to learn.</p>
		    <p class="item">In order to do these interactive activities I will be placing you in groups, or you will be
		    working in centers, it depends on what we are learning that day.</p>
		    <p class="last-item">During some group projects I will have you present your findings to the class and explain
		    to them how you got your results and what they mean.</p>
	    </div>

		<h4 class="h4">Inquiry Learning</h4>
		<hr class="subsubtitle"/>
		<div class="list-group">
			<p class="item">there is the style of learning that is known as inquiry learning. This is where I will present
			you with an activity and then have you answer a few in depth question that make you question and work out
			what the answer to the problem is. These activities are highly interactive and memorable because you create
			your own understanding of what we are learning about.</p>
		</div>

	    <h4 class="h4">Student Taught</h4>
		<hr class="subsubtitle"/>
	    <div class="list-group">
		    <p class="item">Whenever I have to lecture, which I don't like to do or go through myself, I will ask for one
		    of you to help me teach the class. I do this because you will remember the information a lot better and you
		    don't have to listen to a boring old man drone on and on about how to use the pythagorean theorem.</p>
		    <p class="last-item">I will have you help me teach because you will stand up in front of class, this will help
		    you when presenting to audiences and being able to speak to a group of people. Trust me, this is an important
		    skill. I do it for a living!</p>
	    </div>
	</div>

	<h2 class="h2">The Recordings of your Behavior</h2>
	<hr class="subtitle"/>
	<div class="list-group">
	    <h4 class="h4">When Does This Man Record When I am being Good?</h4>
		<hr class="subsubtitle"/>
	    <div class="list-group">
		    <div class="last-item">
			    I will record and good behavior that I mention to you. I will try my best to stay close to my positive behavior
                binder as much as I can. I would much rather stay close to that than the negative binder, especially since I know
                that I won't need to ever use that one!
		    </div>
	    </div>

	    <h4 class="h4">When Does He Record My Bad?</h4>
		<hr class="subsubtitle"/>
	    <div class="list-group">
		    <div class="last-item">I'm sure your first thought at this is "Oh, he will always be recording that like every
		    other teacher." This is not true, my main goal is to catch you doing good behavior. I want you to know I know
		    you can do good, but if you do, do something on the negative side I have to record it no matter how much it pains
		    me.</div>
	    </div>
	</div>
{% endblock %}